In [ ]:
# se importa el conector de snowflake
import snowflake.connector 
# se importa del modulo de swnoflake la herramienta de pandas para ingestar un dataframe a una tabla de snowflake
from snowflake.connector.pandas_tools import write_pandas 
import pandas as pd

In [ ]:
#se crea conexión
conn = snowflake.connector.connect(
    user='grupods03',
    password='Henry2022#',
    account='nr28668.sa-east-1.aws',
    warehouse='PRUEBA',
    role ='ACCOUNTADMIN',
    schema ='PUBLIC')

cur = conn.cursor() # se inicializa la conexión Creates a cursor object. Each statement will be executed in a new cursor object.

Data Definition Language (DDL) commands are used to create, manipulate, and modify objects in Snowflake, such as users, virtual warehouses, databases, schemas, tables, views, columns, functions, and stored procedures.
The following commands serve as the base for all DDL commands:
- ALTER
- COMMENT
- CREATE
- DESCRIBE
- DROP
- SHOW
- USE

In [ ]:
viewquery = """Use database PRUEBA""" # se inicializa en database prueba
cur.execute(viewquery)
cur.execute("""select * from PEPE""") # se listan totos los elementos de la tabla PEPE en el database prueba
cur.execute("""
    CREATE OR REPLACE TABLE costumers (
    name string,
    balance int
    );""") # se crea la tabla costumers con dos colunmas

In [ ]:
df = pd.DataFrame([('Mark', 10), ('Luke', 20)], columns=['NAME', 'BALANCE']) # se crea dataframe con pandas
write_pandas(conn, df, 'COSTUMERS') # se ingesta el dataframe pd a la tabla costumers
# se cortan las conexiones
cur.close()
conn.close()

data manipulation language (DML) commands, grouped by category.
Commands for inserting, deleting, updating, and merging data in Snowflake tables:

- INSERT
- INSERT (multi-table)
- MERGE
- UPDATE
- DELETE
- TRUNCATE TABLE

Data Loading / Unloading DML Commands for bulk copying data into and out of Snowflake tables:

- COPY INTO <table> (loading/importing data)
- COPY INTO <location> (unloading/exporting data)

File Staging Commands (for Data Loading / Unloading)
These commands do not perform any actual DML, but are used to stage and manage files stored in Snowflake locations (named internal stages (nube propia de snowflake), table stages(nube externa AWS (ej.:Buket S3), Azure, etc.., conectada con snowflake), and user stages, for the purpose of loading and unloading data:

PUT
GET
LIST (can also be used with named external stages)
REMOVE

In [3]:

Nation = ['United States', 'Canada','Mexico','Costa Rica','Panama','Brazil','Argentina','Chile','Uruguay','Bolivia','Peru','Egypt, Arab Rep.','Libya','South Africa','Nigeria','Morocco','Australia','China','India','Thailand','Japan','Korea, Rep.','Israel','Saudi Arabia','Malaysia','Indonesia','Russian Federation','Turkiye','Spain','Bulgaria','France','Italy','Germany','United Kingdom','Norway','Sweden','Greece']
Nation_code= ['USA','CAN','MEX','CRI','PAN','BRA','ARG','CHL','URY','BOL','PER','EGY','LBY','ZAF','NGA','MAR','AUS','CHN','IND','THA','JPN','KOR','ISR','SAU','MYS','IDN','RUS','TUR','ESP','BGR','FRA','ITA','DEU','GBR','NOR','SWE','GRC']
Indicador = ['Average precipitation in depth (mm per year)',
'emisiones de CO2 (kt)',
'crecimiento de la poblacion (% anual)',
'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)',
'School enrollment, tertiary (% gross)',
'Tasa de alfabetizacion, total adultos (% de personas)',
'Hepatitis B (HepB3) immunization coverage among 1-year-olds (%)',
'Immunization, DPT (% of children ages 12-23 months)',
'Immunization, measles (% of children ages 12-23 months)',
'Incidence of HIV, all (per 1,000 uninfected population)',
'Mortality rate, under-5 (per 1,000 live births)',
'Number of deaths ages 5-9 years',
'Number of infant deaths (per 1,000 live births)',
'Polio (Pol3) immunization covergae among 1-year-olds (%)',
'prevalencia del consumo de tabaco, hombres',
'prevalencia del consumo de tabaco, mujeres',
'tasa de mortalidad materna (cada 100.000 nacidos vivos)',
'tasa de mortalidad menores de 5 años (por 1000nacidos vivos)',
'tasa de mortalidad, adultos hombres (por cada 1000 adultos)',
'tasa de mortalidad, adultos mujeres (por cada 1000 adultos)',
'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)',
'Access to clean fuels and technologies for cooking, rural (% of rural population)',
'Current education expenditure, primary (% of total expenditure in primary public institutions)',
'Current health expenditure (% of GDP)',
'desempleo total (% de la poblacion laboral)',
'esperanza de vida al nacer, hombres (años)',
'esperanza de vida al nacer, muejres (años)',
'esperanza de vida al nacer, Total (años)',
'gasto publico (% del pib)',
'gasto publico en educación, total (% del pbi)',
'GDP per capita (constant 2015 US$)',
'poblacion que vive en barrios marginales (% de la poblacion urbana)',
'Población Rural (% de la poblacion total)',
'poblacion urbana (%poblacion total)',
'Research and development expenditure (% of GDP)',
'Researchers in R&D (per million people)',
'tasa de recuento de la pobreza, multidimensional (%de la poblacion total)',
'Trade in services (% of GDP)'
]
Indicador_code = ['AG.LND.PRCP.MM',
'EN.ATM.CO2E.KT',
'SP.POP.GROW',
'SE.PRM.CUAT.FE.ZS',
'SE.TER.ENRR',
'SE.ADT.LITR.ZS',
'CSV from WHO',
'SH.IMM.IDPT',
'SH.IMM.MEAS',
'SH.HIV.INCD.TL.P3',
'SH.DYN.MORT',
'SH.DTH.0509',
'SH.DTH.IMRT.IN',
'CSV from WHO',
'SH.PRV.SMOK.MA',
'SH.PRV.SMOK.FE',
'SH.STA.MMRT',
'SH.DYN.MORT',
'SP.DYN.AMRT.MA',
'SP.DYN.AMRT.FE',
'SH.ALC.PCAP.LI',
'EG.CFT.ACCS.RU.ZS',
'SE.XPD.CPRM.ZS',
'SH.XPD.CHEX.GD.ZS',
'SL.UEM.TOTL.NE.ZS',
'SP.DYN.LE00.MA.IN',
'SP.DYN.LE00.FE.IN',
'SP.DYN.LE00.IN',
'GC.XPN.TOTL.GD.ZS',
'SE.XPD.TOTL.GD.ZS',
'NY.GDP.PCAP.KD',
'EN.POP.SLUM.UR.ZS',
'SP.RUR.TOTL.ZS',
'SP.URB.TOTL.IN.ZS',
'GB.XPD.RSDV.GD.ZS',
'SP.POP.SCIE.RD.P6',
'SI.POV.MDIM',
'BG.GSR.NFSV.GD.ZS'
]

In [1]:
import pandas as pd
import wbgapi as wb

In [12]:
df=wb.data.DataFrame(Indicador_code, 
                  Nation_code, 
                  mrv= 30,
                  numericTimeKeys=True
                  )

In [14]:
df

                                    1992           1993           1994  \
economy series
ARG     AG.LND.PRCP.MM        591.000000            NaN            NaN
        BG.GSR.NFSV.GD.ZS       3.712379       3.956405       4.055469
        EG.CFT.ACCS.RU.ZS            NaN            NaN            NaN
        EN.ATM.CO2E.KT     107930.000000  110260.000000  111910.000000
        EN.POP.SLUM.UR.ZS            NaN            NaN            NaN
...                                  ...            ...            ...
ZAF     SP.DYN.LE00.MA.IN      60.109000      59.634000      58.983000
        SP.POP.GROW             2.496895       2.454951       2.320135
        SP.POP.SCIE.RD.P6            NaN            NaN            NaN
        SP.RUR.TOTL.ZS         46.962000      46.479000      45.996000
        SP.URB.TOTL.IN.ZS      53.038000      53.521000      54.004000

                                    1995           1996           1997  \
economy series
ARG     AG.LND.PRCP.MM               NaN            NaN     591.000000
        BG.GSR.NFSV.GD.ZS       4.280636       4.526610       4.623712
        EG.CFT.ACCS.RU.ZS            NaN            NaN            NaN
        EN.ATM.CO2E.KT     112890.000000  122550.000000  126120.000000
        EN.POP.SLUM.UR.ZS      31.700001            NaN            NaN
...                                  ...            ...            ...
ZAF     SP.DYN.LE00.MA.IN      58.171000      57.218000      56.177000
        SP.POP.GROW             2.126182       1.924718       1.751687
        SP.POP.SCIE.RD.P6            NaN            NaN     198.499741
        SP.RUR.TOTL.ZS         45.514000      45.033000      44.551000
        SP.URB.TOTL.IN.ZS      54.486000      54.967000      55.449000

                                    1998           1999           2000  \
economy series
ARG     AG.LND.PRCP.MM               NaN            NaN            NaN
        BG.GSR.NFSV.GD.ZS       4.721181       4.764832       4.953990
        EG.CFT.ACCS.RU.ZS            NaN            NaN      70.800000
        EN.ATM.CO2E.KT     132670.000000  134510.000000  132270.000000
        EN.POP.SLUM.UR.ZS            NaN            NaN      32.900002
...                                  ...            ...            ...
ZAF     SP.DYN.LE00.MA.IN      55.110000      54.077000      53.140000
        SP.POP.GROW             1.603369       1.491248       1.409022
        SP.POP.SCIE.RD.P6            NaN            NaN            NaN
        SP.RUR.TOTL.ZS         44.070000      43.589000      43.109000
        SP.URB.TOTL.IN.ZS      55.930000      56.411000      56.891000

                                    2001  ...           2012           2013  \
economy series                            ...
ARG     AG.LND.PRCP.MM               NaN  ...     591.000000            NaN
        BG.GSR.NFSV.GD.ZS       4.847805  ...       5.969318       5.921596
        EG.CFT.ACCS.RU.ZS      72.800000  ...      93.400000      94.300000
        EN.ATM.CO2E.KT     125260.000000  ...  177960.006714  183250.000000
        EN.POP.SLUM.UR.ZS            NaN  ...            NaN            NaN
...                                  ...  ...            ...            ...
ZAF     SP.DYN.LE00.MA.IN      52.344000  ...      57.027000      57.951000
        SP.POP.GROW             1.333277  ...       1.581354       1.604367
        SP.POP.SCIE.RD.P6     311.204834  ...     404.719360     434.853088
        SP.RUR.TOTL.ZS         42.632000  ...      36.728000      36.207000
        SP.URB.TOTL.IN.ZS      57.368000  ...      63.272000      63.793000

                                    2014           2015           2016  \
economy series
ARG     AG.LND.PRCP.MM               NaN            NaN            NaN
        BG.GSR.NFSV.GD.ZS       5.972423       5.421119       6.331674
        EG.CFT.ACCS.RU.ZS      95.000000      95.500000      96.000000
        EN.ATM.CO2E.KT     179600.006104  185550.003052  183160.003662
        EN.POP.SLUM.UR.ZS      16.700001            NaN      14.700000
...                                  ...            ...            ...
ZAF     SP.DYN.LE00.MA.IN      58.728000      59.342000      59.803000
        SP.POP.GROW             1.583787       1.532243       1.471933
        SP.POP.SCIE.RD.P6     432.161560     472.307556     492.036255
        SP.RUR.TOTL.ZS         35.688000      35.172000      34.659000
        SP.URB.TOTL.IN.ZS      64.312000      64.828000      65.341000

                                    2017           2018           2019  \
economy series
ARG     AG.LND.PRCP.MM        591.000000     591.000000            NaN
        BG.GSR.NFSV.GD.ZS       6.324740       7.549181       7.595631
        EG.CFT.ACCS.RU.ZS      96.300000      96.600000      97.000000
        EN.ATM.CO2E.KT     179320.007324  176899.993896  168100.006104
        EN.POP.SLUM.UR.ZS            NaN      14.700000            NaN
...                                  ...            ...            ...
ZAF     SP.DYN.LE00.MA.IN      60.162000      60.463000      60.726000
        SP.POP.GROW             1.416947       1.363703       1.316292
        SP.POP.SCIE.RD.P6     517.722290     503.712250     484.280029
        SP.RUR.TOTL.ZS         34.150000      33.645000      33.144000
        SP.URB.TOTL.IN.ZS      65.850000      66.355000      66.856000

                                2020       2021
economy series
ARG     AG.LND.PRCP.MM           NaN        NaN
        BG.GSR.NFSV.GD.ZS   5.400367   4.515539
        EG.CFT.ACCS.RU.ZS  97.200000        NaN
        EN.ATM.CO2E.KT           NaN        NaN
        EN.POP.SLUM.UR.ZS        NaN        NaN
...                              ...        ...
ZAF     SP.DYN.LE00.MA.IN  60.966000        NaN
        SP.POP.GROW         1.273356   1.228841
        SP.POP.SCIE.RD.P6        NaN        NaN
        SP.RUR.TOTL.ZS     32.646000  32.153000
        SP.URB.TOTL.IN.ZS  67.354000  67.847000

[1258 rows x 30 columns]

In [10]:
df.T.to_csv('df_hecho.csv')

In [1]:
print('Prueba')

Prueba