In [2]:
# se importa el conector de snowflake
import snowflake.connector 
# se importa del modulo de swnoflake la herramienta de pandas para ingestar un dataframe a una tabla de snowflake
from snowflake.connector.pandas_tools import write_pandas 
import pandas as pd
import wbgapi as wb

c:\Users\Jhovany Lara\AppData\Local\Programs\Python\Python310\lib\site-packages\snowflake\connector\options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (9.0.0), please install a version that adheres to: 'pyarrow<8.1.0,>=8.0.0; extra == "pandas"'
  warn_incompatible_dep(

### Se crea la conexión con snowflake

In [91]:
#se crea conexión
conn = snowflake.connector.connect(
    user='grupods03',
    password='Henry2022#',
    account='nr28668.sa-east-1.aws')
    #warehouse='PRUEBA',
    #role ='ACCOUNTADMIN',
    #schema ='PUBLIC')

In [92]:
def execute_query(connection, query):
    cursor = connection.cursor() # se inicializa la conexión Creates a cursor object. Each statement will be executed in a new cursor object.
    cursor.execute(query)
    cursor.close()

### Se crea la database y el datawarehouse

In [ ]:
query = "Create database LAKE" # se crea database

execute_query(conn, query)

In [94]:
query = "Use database LAKE" # se inicializa database

execute_query(conn, query)

In [ ]:
query = "Create warehouse DW_EV" # se crea un datawarehouse dentro de LAKE

execute_query(conn, query)

In [95]:
query = "Use warehouse DW_EV" # se inicializa datawarehouse

execute_query(conn, query)

### Creamos las tablas y sus relaciones

In [105]:
'''Cuando queremos borrar una tabla
viewquery ="""
    DROP TABLE EV;
    """ # se borra la tabla INCOME

execute_query(conn, viewquery)
'''

In [98]:
viewquery ="""
    create or replace TABLE PAIS (
	ID_PAIS VARCHAR(3) NOT NULL,
	NOMBRE VARCHAR(30) NOT NULL,
	constraint PKEY_1 primary key (ID_PAIS)
    );""" # se crea la tabla PAIS

execute_query(conn, viewquery)

In [100]:
viewquery ="""
    create or replace TABLE CONTINENTE (
	ID_CONTINENTE INTEGER NOT NULL,
	CONTINENTE VARCHAR(20) NOT NULL,
	constraint PKEY_1 primary key (ID_CONTINENTE)
    );""" # se crea la tabla CONTINENTE

execute_query(conn, viewquery)

In [102]:
viewquery ="""
    create or replace TABLE INDICADOR (
	ID_INDICADOR INTEGER NOT NULL,
	CODIGO VARCHAR(20) NOT NULL,
	DESCRIPCION VARCHAR(16777216),
	constraint PKEY_1 primary key (ID_INDICADOR)
    );""" # se crea la tabla INDICADOR

execute_query(conn, viewquery)

In [112]:
viewquery ="""
    create or replace TABLE INCOME (
	ID_INCOME VARCHAR(2) NOT NULL,
	INCOME VARCHAR(30),
	constraint PKEY_1 primary key (ID_INCOME)
    );""" # se crea la tabla INCOME

execute_query(conn, viewquery)

In [107]:
viewquery ="""
    create or replace TABLE EV (
	ID_PAIS VARCHAR(3) NOT NULL,
	ID_CONTINENTE INTEGER NOT NULL,
	ID_INDICADOR INTEGER NOT NULL,
	ID_INCOME VARCHAR(2) NOT NULL,
	ANIO INTEGER NOT NULL,
	VALOR FLOAT,
	constraint FKEY_1 foreign key (ID_PAIS) references PAIS(ID_PAIS),
	constraint FKEY_2 foreign key (ID_CONTINENTE) references CONTINENTE(ID_CONTINENTE),
	constraint FKEY_3 foreign key (ID_INDICADOR) references INDICADOR(ID_INDICADOR),
	constraint FKEY_4 foreign key (ID_INCOME) references INCOME(ID_INCOME)
    );""" # se crea la tabla de hechos EV

execute_query(conn, viewquery)

### Cargamos datos a las tablas creadas

In [108]:
df = pd.DataFrame([(1,'America'), (2,'Europa'), (3,'Asia'),(4,'Africa'),(5,'Oceania')], columns=['ID_CONTINENTE', 'CONTINENTE']) # se crea dataframe con pandas
write_pandas(conn, df, 'CONTINENTE') # se ingesta el dataframe pd a la tabla Continente

(True,
 1,
 5,
 [('dewhl/file0.txt', 'LOADED', 5, 5, 1, 0, None, None, None, None)])

In [109]:
Nation = ['United States', 'Canada','Mexico','Costa Rica','Panama','Brazil','Argentina','Chile','Uruguay','Bolivia','Peru','Egypt, Arab Rep.','Libya','South Africa','Nigeria','Morocco','Australia','China','India','Thailand','Japan','Korea, Rep.','Israel','Saudi Arabia','Malaysia','Indonesia','Russian Federation','Turkiye','Spain','Bulgaria','France','Italy','Germany','United Kingdom','Norway','Sweden','Greece']
Nation_code= ['USA','CAN','MEX','CRI','PAN','BRA','ARG','CHL','URY','BOL','PER','EGY','LBY','ZAF','NGA','MAR','AUS','CHN','IND','THA','JPN','KOR','ISR','SAU','MYS','IDN','RUS','TUR','ESP','BGR','FRA','ITA','DEU','GBR','NOR','SWE','GRC']
df = pd.DataFrame({'ID_PAIS':Nation_code,'NOMBRE': Nation}) # se crea dataframe con pandas
write_pandas(conn, df, 'PAIS') # se ingesta el dataframe pd a la tabla pais

(True,
 1,
 37,
 [('fkbep/file0.txt', 'LOADED', 37, 37, 1, 0, None, None, None, None)])

In [113]:
df = pd.DataFrame([('H','Alto ingreso'), ('M','Ingreso medio alto'), ('LM','Ingreso medio bajo')], columns=['ID_INCOME', 'INCOME']) # se crea dataframe con pandas
write_pandas(conn, df, 'INCOME') # se ingesta el dataframe pd a la tabla continente

(True,
 1,
 3,
 [('diked/file0.txt', 'LOADED', 3, 3, 1, 0, None, None, None, None)])

In [120]:
#Se ingesta el dataframe pd a la tabla Indicador
Indicador = ['Average precipitation in depth (mm per year)',
'emisiones de CO2 (kt)',
'crecimiento de la poblacion (% anual)',
'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)',
'School enrollment, tertiary (% gross)',
'Tasa de alfabetizacion, total adultos (% de personas)',
'Hepatitis B (HepB3) immunization coverage among 1-year-olds (%)',
'Immunization, DPT (% of children ages 12-23 months)',
'Immunization, measles (% of children ages 12-23 months)',
'Incidence of HIV, all (per 1,000 uninfected population)',
'Mortality rate, under-5 (per 1,000 live births)',
'Number of deaths ages 5-9 years',
'Number of infant deaths (per 1,000 live births)',
'Polio (Pol3) immunization covergae among 1-year-olds (%)',
'prevalencia del consumo de tabaco, hombres',
'prevalencia del consumo de tabaco, mujeres',
'tasa de mortalidad materna (cada 100.000 nacidos vivos)',
'tasa de mortalidad menores de 5 años (por 1000nacidos vivos)',
'tasa de mortalidad, adultos hombres (por cada 1000 adultos)',
'tasa de mortalidad, adultos mujeres (por cada 1000 adultos)',
'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)',
'Access to clean fuels and technologies for cooking, rural (% of rural population)',
'Current education expenditure, primary (% of total expenditure in primary public institutions)',
'Current health expenditure (% of GDP)',
'desempleo total (% de la poblacion laboral)',
'esperanza de vida al nacer, hombres (años)',
'esperanza de vida al nacer, muejres (años)',
'esperanza de vida al nacer, Total (años)',
'gasto publico (% del pib)',
'gasto publico en educación, total (% del pbi)',
'GDP per capita (constant 2015 US$)',
'poblacion que vive en barrios marginales (% de la poblacion urbana)',
'Población Rural (% de la poblacion total)',
'poblacion urbana (%poblacion total)',
'Research and development expenditure (% of GDP)',
'Researchers in R&D (per million people)',
'tasa de recuento de la pobreza, multidimensional (%de la poblacion total)',
'Trade in services (% of GDP)'
]
Indicador_code = ['AG.LND.PRCP.MM',
'EN.ATM.CO2E.KT',
'SP.POP.GROW',
'SE.PRM.CUAT.FE.ZS',
'SE.TER.ENRR',
'SE.ADT.LITR.ZS',
'CSV from WHO',
'SH.IMM.IDPT',
'SH.IMM.MEAS',
'SH.HIV.INCD.TL.P3',
'SH.DYN.MORT',
'SH.DTH.0509',
'SH.DTH.IMRT.IN',
'CSV from WHO',
'SH.PRV.SMOK.MA',
'SH.PRV.SMOK.FE',
'SH.STA.MMRT',
'SH.DYN.MORT',
'SP.DYN.AMRT.MA',
'SP.DYN.AMRT.FE',
'SH.ALC.PCAP.LI',
'EG.CFT.ACCS.RU.ZS',
'SE.XPD.CPRM.ZS',
'SH.XPD.CHEX.GD.ZS',
'SL.UEM.TOTL.NE.ZS',
'SP.DYN.LE00.MA.IN',
'SP.DYN.LE00.FE.IN',
'SP.DYN.LE00.IN',
'GC.XPN.TOTL.GD.ZS',
'SE.XPD.TOTL.GD.ZS',
'NY.GDP.PCAP.KD',
'EN.POP.SLUM.UR.ZS',
'SP.RUR.TOTL.ZS',
'SP.URB.TOTL.IN.ZS',
'GB.XPD.RSDV.GD.ZS',
'SP.POP.SCIE.RD.P6',
'SI.POV.MDIM',
'BG.GSR.NFSV.GD.ZS'
]
numero_indicador=range(1,39)
df=pd.DataFrame({'ID_INDICADOR':numero_indicador,'CODIGO':Indicador_code,'DESCRIPCION':Indicador})
write_pandas(conn, df, 'INDICADOR') # se ingesta el dataframe pd a la tabla indicador

(True,
 1,
 38,
 [('yquxi/file0.txt', 'LOADED', 38, 38, 1, 0, None, None, None, None)])

Ingestamos datos a la tabla de hechos

In [121]:

Indicador_code = ['AG.LND.PRCP.MM',
'EN.ATM.CO2E.KT',
'SP.POP.GROW',
'SE.PRM.CUAT.FE.ZS',
'SE.TER.ENRR',
'SE.ADT.LITR.ZS',
'CSV from WHO',
'SH.IMM.IDPT',
'SH.IMM.MEAS',
'SH.HIV.INCD.TL.P3',
'SH.DYN.MORT',
'SH.DTH.0509',
'SH.DTH.IMRT.IN',
'CSV from WHO',
'SH.PRV.SMOK.MA',
'SH.PRV.SMOK.FE',
'SH.STA.MMRT',
'SH.DYN.MORT',
'SP.DYN.AMRT.MA',
'SP.DYN.AMRT.FE',
'SH.ALC.PCAP.LI',
'EG.CFT.ACCS.RU.ZS',
'SE.XPD.CPRM.ZS',
'SH.XPD.CHEX.GD.ZS',
'SL.UEM.TOTL.NE.ZS',
'SP.DYN.LE00.MA.IN',
'SP.DYN.LE00.FE.IN',
'SP.DYN.LE00.IN',
'GC.XPN.TOTL.GD.ZS',
'SE.XPD.TOTL.GD.ZS',
'NY.GDP.PCAP.KD',
'EN.POP.SLUM.UR.ZS',
'SP.RUR.TOTL.ZS',
'SP.URB.TOTL.IN.ZS',
'GB.XPD.RSDV.GD.ZS',
'SP.POP.SCIE.RD.P6',
'SI.POV.MDIM',
'BG.GSR.NFSV.GD.ZS'
]
df2=wb.data.DataFrame(Indicador_code, 
                  Nation_code, 
                  mrv= 30,
                  columns='series',
                  numericTimeKeys=True
                  )

In [122]:
hechos=df2.reset_index()
hechos=hechos.melt(id_vars=['economy','time'], var_name="ID_INDICADOR", value_name="VALOR")
hechos=hechos.rename(columns={'economy':'ID_PAIS','time':'ANIO'})

Creamos la columna Id_continente a partir de los países

In [123]:
lista_america=['ARG','CAN','MEX','USA','PAN','BRA','ARG','CHL','URY','BOL','PER','CRI']
lista_africa=['EGY','LBY','ZAF','NGA','MAR']
lista_asia=['CHN','IND','THA','JPN','KOR','ISR','SAU','MYS','IDN','RUS','TUR']
lista_europa=['ESP','BGR','FRA','ITA','DEU','GBR','NOR','SWE','GRC']
lista_oceania=['AUS']

def categoria_pais(row):
    if row['ID_PAIS'] in lista_america:
        return 1
    if row['ID_PAIS'] in lista_europa:
        return 2
    if row['ID_PAIS'] in lista_asia:
        return 3
    if row['ID_PAIS'] in lista_africa:
        return 4
    if row['ID_PAIS'] in lista_oceania:
        return 5


hechos['ID_CONTINENTE'] = hechos.apply(lambda row: categoria_pais(row), axis=1)

In [124]:
hechos.head()

  ID_PAIS  ANIO    ID_INDICADOR  VALOR  ID_CONTINENTE
0     ARG  1992  AG.LND.PRCP.MM  591.0              1
1     ARG  1993  AG.LND.PRCP.MM    NaN              1
2     ARG  1994  AG.LND.PRCP.MM    NaN              1
3     ARG  1995  AG.LND.PRCP.MM    NaN              1
4     ARG  1996  AG.LND.PRCP.MM    NaN              1

Creamos la columna ID_INGRESO a partir de una lista y del nombre del pais

In [125]:
lista_alto=['CAN','USA','PAN','CHL','URY','AUS','JPN','KOR','ISR','SAU','ESP','FRA','ITA','DEU','GBR','NOR','SWE','GRC']
lista_medioalto=['ARG','MEX','BRA','ARG','CRI','PER','BGR','TUR','LBY','ZAF','RUS']
lista_mediobajo=['CHN','THA','MYS','BOL','EGY','NGA','MAR','IND','IDN']


def ingreso_pais(row):
    if row['ID_PAIS'] in lista_alto:
        return 'H'
    if row['ID_PAIS'] in lista_medioalto:
        return 'M'
    if row['ID_PAIS'] in lista_mediobajo:
        return 'LM'
    
hechos['ID_INCOME'] = hechos.apply(lambda row: ingreso_pais(row), axis=1)

Codificamos la columna ID_INDICADOR

In [126]:
Indicador_code = ['AG.LND.PRCP.MM',
'EN.ATM.CO2E.KT',
'SP.POP.GROW',
'SE.PRM.CUAT.FE.ZS',
'SE.TER.ENRR',
'SE.ADT.LITR.ZS',
'CSV from WHO',
'SH.IMM.IDPT',
'SH.IMM.MEAS',
'SH.HIV.INCD.TL.P3',
'SH.DYN.MORT',
'SH.DTH.0509',
'SH.DTH.IMRT.IN',
'CSV from WHO',
'SH.PRV.SMOK.MA',
'SH.PRV.SMOK.FE',
'SH.STA.MMRT',
'SH.DYN.MORT',
'SP.DYN.AMRT.MA',
'SP.DYN.AMRT.FE',
'SH.ALC.PCAP.LI',
'EG.CFT.ACCS.RU.ZS',
'SE.XPD.CPRM.ZS',
'SH.XPD.CHEX.GD.ZS',
'SL.UEM.TOTL.NE.ZS',
'SP.DYN.LE00.MA.IN',
'SP.DYN.LE00.FE.IN',
'SP.DYN.LE00.IN',
'GC.XPN.TOTL.GD.ZS',
'SE.XPD.TOTL.GD.ZS',
'NY.GDP.PCAP.KD',
'EN.POP.SLUM.UR.ZS',
'SP.RUR.TOTL.ZS',
'SP.URB.TOTL.IN.ZS',
'GB.XPD.RSDV.GD.ZS',
'SP.POP.SCIE.RD.P6',
'SI.POV.MDIM',
'BG.GSR.NFSV.GD.ZS'
]
def ingreso_pais(row):
    for i in range(38):
        if row['ID_INDICADOR'] == Indicador_code[i]:
            return i+1
    
    
hechos['ID_INDICADOR'] = hechos.apply(lambda row: ingreso_pais(row), axis=1)

In [127]:
hechos.head()

  ID_PAIS  ANIO  ID_INDICADOR  VALOR  ID_CONTINENTE ID_INCOME
0     ARG  1992             1  591.0              1         M
1     ARG  1993             1    NaN              1         M
2     ARG  1994             1    NaN              1         M
3     ARG  1995             1    NaN              1         M
4     ARG  1996             1    NaN              1         M

In [129]:
write_pandas(conn, hechos, 'EV') # se ingesta el dataframe pd a la tabla EV

(True,
 1,
 37740,
 [('hxhnk/file0.txt', 'LOADED', 37740, 37740, 1, 0, None, None, None, None)])

In [ ]:
# se cortan las conexiones
conn.close()