In [1]:
# se importa el conector de snowflake
import snowflake.connector 
# se importa del modulo de swnoflake la herramienta de pandas para ingestar un dataframe a una tabla de snowflake
from snowflake.connector.pandas_tools import write_pandas 
import pandas as pd
import wbgapi as wb

c:\Users\Jhovany Lara\AppData\Local\Programs\Python\Python310\lib\site-packages\snowflake\connector\options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (9.0.0), please install a version that adheres to: 'pyarrow<8.1.0,>=8.0.0; extra == "pandas"'
  warn_incompatible_dep(

### Se crea la conexión con snowflake

In [212]:
#se crea conexión
conn = snowflake.connector.connect(
    user='grupods03',
    password='Henry2022#',
    account='nr28668.sa-east-1.aws')
    #warehouse='PRUEBA',
    #role ='ACCOUNTADMIN',
    #schema ='PUBLIC')

In [213]:
def execute_query(connection, query):
    cursor = connection.cursor() # se inicializa la conexión Creates a cursor object. Each statement will be executed in a new cursor object.
    cursor.execute(query)
    cursor.close()

### Se crea la database y el datawarehouse

In [ ]:
query = "Create database LAKE" # se crea database

execute_query(conn, query)

In [214]:
query = "Use database LAKE" # se inicializa database

execute_query(conn, query)

In [ ]:
query = "Create warehouse DW_EV" # se crea un datawarehouse dentro de LAKE

execute_query(conn, query)

In [215]:
query = "Use warehouse DW_EV" # se inicializa datawarehouse

execute_query(conn, query)

### Creamos las tablas y sus relaciones

In [194]:
'''Cuando queremos borrar una tabla
viewquery ="""
    DROP TABLE EV;
    """ # se borra la tabla INCOME

execute_query(conn, viewquery)
'''

In [98]:
viewquery ="""
    create or replace TABLE PAIS (
	ID_PAIS VARCHAR(3) NOT NULL,
	NOMBRE VARCHAR(30) NOT NULL,
	constraint PKEY_1 primary key (ID_PAIS)
    );""" # se crea la tabla PAIS

execute_query(conn, viewquery)

In [100]:
viewquery ="""
    create or replace TABLE CONTINENTE (
	ID_CONTINENTE INTEGER NOT NULL,
	CONTINENTE VARCHAR(20) NOT NULL,
	constraint PKEY_1 primary key (ID_CONTINENTE)
    );""" # se crea la tabla CONTINENTE

execute_query(conn, viewquery)

In [153]:
viewquery ="""
    create or replace TABLE INDICADOR (
	ID_INDICADOR INTEGER NOT NULL,
	CODIGO VARCHAR(20) NOT NULL,
	DESCRIPCION VARCHAR(16777216),
	constraint PKEY_1 primary key (ID_INDICADOR)
    );""" # se crea la tabla INDICADOR

execute_query(conn, viewquery)

In [112]:
viewquery ="""
    create or replace TABLE INCOME (
	ID_INCOME VARCHAR(2) NOT NULL,
	INCOME VARCHAR(30),
	constraint PKEY_1 primary key (ID_INCOME)
    );""" # se crea la tabla INCOME

execute_query(conn, viewquery)

In [195]:
viewquery ="""
    create or replace TABLE EV (
	ID_PAIS VARCHAR(3) NOT NULL,
	ID_CONTINENTE INTEGER NOT NULL,
	ID_INDICADOR INTEGER NOT NULL,
	ID_INCOME VARCHAR(2) NOT NULL,
	ANIO INTEGER NOT NULL,
	VALOR FLOAT,
	constraint FKEY_1 foreign key (ID_PAIS) references PAIS(ID_PAIS),
	constraint FKEY_2 foreign key (ID_CONTINENTE) references CONTINENTE(ID_CONTINENTE),
	constraint FKEY_3 foreign key (ID_INDICADOR) references INDICADOR(ID_INDICADOR),
	constraint FKEY_4 foreign key (ID_INCOME) references INCOME(ID_INCOME)
    );""" # se crea la tabla de hechos EV

execute_query(conn, viewquery)

### Cargamos datos a las tablas creadas

In [108]:
df = pd.DataFrame([(1,'America'), (2,'Europa'), (3,'Asia'),(4,'Africa'),(5,'Oceania')], columns=['ID_CONTINENTE', 'CONTINENTE']) # se crea dataframe con pandas
write_pandas(conn, df, 'CONTINENTE') # se ingesta el dataframe pd a la tabla Continente

(True,
 1,
 5,
 [('dewhl/file0.txt', 'LOADED', 5, 5, 1, 0, None, None, None, None)])

In [109]:
Nation = ['United States', 'Canada','Mexico','Costa Rica','Panama','Brazil','Argentina','Chile','Uruguay','Bolivia','Peru','Egypt, Arab Rep.','Libya','South Africa','Nigeria','Morocco','Australia','China','India','Thailand','Japan','Korea, Rep.','Israel','Saudi Arabia','Malaysia','Indonesia','Russian Federation','Turkiye','Spain','Bulgaria','France','Italy','Germany','United Kingdom','Norway','Sweden','Greece']
Nation_code= ['USA','CAN','MEX','CRI','PAN','BRA','ARG','CHL','URY','BOL','PER','EGY','LBY','ZAF','NGA','MAR','AUS','CHN','IND','THA','JPN','KOR','ISR','SAU','MYS','IDN','RUS','TUR','ESP','BGR','FRA','ITA','DEU','GBR','NOR','SWE','GRC']
df = pd.DataFrame({'ID_PAIS':Nation_code,'NOMBRE': Nation}) # se crea dataframe con pandas
write_pandas(conn, df, 'PAIS') # se ingesta el dataframe pd a la tabla pais

(True,
 1,
 37,
 [('fkbep/file0.txt', 'LOADED', 37, 37, 1, 0, None, None, None, None)])

In [113]:
df = pd.DataFrame([('H','Alto ingreso'), ('M','Ingreso medio alto'), ('LM','Ingreso medio bajo')], columns=['ID_INCOME', 'INCOME']) # se crea dataframe con pandas
write_pandas(conn, df, 'INCOME') # se ingesta el dataframe pd a la tabla continente

(True,
 1,
 3,
 [('diked/file0.txt', 'LOADED', 3, 3, 1, 0, None, None, None, None)])

In [155]:
#Se ingesta el dataframe pd a la tabla Indicador
Indicador = ['Average precipitation in depth (mm per year)',
'emisiones de CO2 (kt)',
'crecimiento de la poblacion (% anual)',
'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)',
'School enrollment, tertiary (% gross)',
'Tasa de alfabetizacion, total adultos (% de personas)',
'Hepatitis B (HepB3) immunization coverage among 1-year-olds (%)',
'Immunization, DPT (% of children ages 12-23 months)',
'Immunization, measles (% of children ages 12-23 months)',
'Incidence of HIV, all (per 1,000 uninfected population)',
'Mortality rate, under-5 (per 1,000 live births)',
'Number of deaths ages 5-9 years',
'Number of infant deaths (per 1,000 live births)',
'Polio (Pol3) immunization covergae among 1-year-olds (%)',
'prevalencia del consumo de tabaco, hombres',
'prevalencia del consumo de tabaco, mujeres',
'tasa de mortalidad materna (cada 100.000 nacidos vivos)',
'tasa de mortalidad menores de 5 años (por 1000nacidos vivos)',
'tasa de mortalidad, adultos hombres (por cada 1000 adultos)',
'tasa de mortalidad, adultos mujeres (por cada 1000 adultos)',
'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)',
'Access to clean fuels and technologies for cooking, rural (% of rural population)',
'Current education expenditure, primary (% of total expenditure in primary public institutions)',
'Current health expenditure (% of GDP)',
'desempleo total (% de la poblacion laboral)',
'esperanza de vida al nacer, hombres (años)',
'esperanza de vida al nacer, muejres (años)',
'esperanza de vida al nacer, Total (años)',
'gasto publico (% del pib)',
'gasto publico en educación, total (% del pbi)',
'GDP per capita (constant 2015 US$)',
'poblacion que vive en barrios marginales (% de la poblacion urbana)',
'Población Rural (% de la poblacion total)',
'poblacion urbana (%poblacion total)',
'Research and development expenditure (% of GDP)',
'Researchers in R&D (per million people)',
'tasa de recuento de la pobreza, multidimensional (%de la poblacion total)',
'Trade in services (% of GDP)'
]
Indicador_code = ['AG.LND.PRCP.MM',
'EN.ATM.CO2E.KT',
'SP.POP.GROW',
'SE.PRM.CUAT.FE.ZS',
'SE.TER.ENRR',
'SE.ADT.LITR.ZS',
'CSV from WHO',
'SH.IMM.IDPT',
'SH.IMM.MEAS',
'SH.HIV.INCD.TL.P3',
'SH.DYN.MORT',
'SH.DTH.0509',
'SH.DTH.IMRT.IN',
'CSV from WHO',
'SH.PRV.SMOK.MA',
'SH.PRV.SMOK.FE',
'SH.STA.MMRT',
'SH.DYN.MORT',
'SP.DYN.AMRT.MA',
'SP.DYN.AMRT.FE',
'SH.ALC.PCAP.LI',
'EG.CFT.ACCS.RU.ZS',
'SE.XPD.CPRM.ZS',
'SH.XPD.CHEX.GD.ZS',
'SL.UEM.TOTL.NE.ZS',
'SP.DYN.LE00.MA.IN',
'SP.DYN.LE00.FE.IN',
'SP.DYN.LE00.IN',
'GC.XPN.TOTL.GD.ZS',
'SE.XPD.TOTL.GD.ZS',
'NY.GDP.PCAP.KD',
'EN.POP.SLUM.UR.ZS',
'SP.RUR.TOTL.ZS',
'SP.URB.TOTL.IN.ZS',
'GB.XPD.RSDV.GD.ZS',
'SP.POP.SCIE.RD.P6',
'SI.POV.MDIM',
'BG.GSR.NFSV.GD.ZS'
]
numero_indicador=range(1,39)
df=pd.DataFrame({'ID_INDICADOR':numero_indicador,'CODIGO':Indicador_code,'DESCRIPCION':Indicador})
write_pandas(conn, df, 'INDICADOR') # se ingesta el dataframe pd a la tabla indicador

(True,
 1,
 38,
 [('arene/file0.txt', 'LOADED', 38, 38, 1, 0, None, None, None, None)])

Ingestamos datos a la tabla de hechos

In [156]:

Indicador_code = ['AG.LND.PRCP.MM',
'EN.ATM.CO2E.KT',
'SP.POP.GROW',
'SE.PRM.CUAT.FE.ZS',
'SE.TER.ENRR',
'SE.ADT.LITR.ZS',
'CSV from WHO',
'SH.IMM.IDPT',
'SH.IMM.MEAS',
'SH.HIV.INCD.TL.P3',
'SH.DYN.MORT',
'SH.DTH.0509',
'SH.DTH.IMRT.IN',
'CSV from WHO',
'SH.PRV.SMOK.MA',
'SH.PRV.SMOK.FE',
'SH.STA.MMRT',
'SH.DYN.MORT',
'SP.DYN.AMRT.MA',
'SP.DYN.AMRT.FE',
'SH.ALC.PCAP.LI',
'EG.CFT.ACCS.RU.ZS',
'SE.XPD.CPRM.ZS',
'SH.XPD.CHEX.GD.ZS',
'SL.UEM.TOTL.NE.ZS',
'SP.DYN.LE00.MA.IN',
'SP.DYN.LE00.FE.IN',
'SP.DYN.LE00.IN',
'GC.XPN.TOTL.GD.ZS',
'SE.XPD.TOTL.GD.ZS',
'NY.GDP.PCAP.KD',
'EN.POP.SLUM.UR.ZS',
'SP.RUR.TOTL.ZS',
'SP.URB.TOTL.IN.ZS',
'GB.XPD.RSDV.GD.ZS',
'SP.POP.SCIE.RD.P6',
'SI.POV.MDIM',
'BG.GSR.NFSV.GD.ZS'
]
df2=wb.data.DataFrame(Indicador_code, 
                  Nation_code, 
                  mrv= 30,
                  columns='series',
                  numericTimeKeys=True
                  )

In [196]:
hechos=df2.reset_index()
hechos=hechos.melt(id_vars=['economy','time'], var_name="ID_INDICADOR", value_name="VALOR")
hechos=hechos.rename(columns={'economy':'ID_PAIS','time':'ANIO'})

Creamos la columna Id_continente a partir de los países

In [197]:
lista_america=['ARG','CAN','MEX','USA','PAN','BRA','ARG','CHL','URY','BOL','PER','CRI']
lista_africa=['EGY','LBY','ZAF','NGA','MAR']
lista_asia=['CHN','IND','THA','JPN','KOR','ISR','SAU','MYS','IDN','RUS','TUR']
lista_europa=['ESP','BGR','FRA','ITA','DEU','GBR','NOR','SWE','GRC']
lista_oceania=['AUS']

def categoria_pais(row):
    if row['ID_PAIS'] in lista_america:
        return 1
    if row['ID_PAIS'] in lista_europa:
        return 2
    if row['ID_PAIS'] in lista_asia:
        return 3
    if row['ID_PAIS'] in lista_africa:
        return 4
    if row['ID_PAIS'] in lista_oceania:
        return 5


hechos['ID_CONTINENTE'] = hechos.apply(lambda row: categoria_pais(row), axis=1)

Creamos la columna ID_INGRESO a partir de una lista y del nombre del pais

In [198]:
lista_alto=['CAN','USA','PAN','CHL','URY','AUS','JPN','KOR','ISR','SAU','ESP','FRA','ITA','DEU','GBR','NOR','SWE','GRC']
lista_medioalto=['ARG','MEX','BRA','ARG','CRI','PER','BGR','TUR','LBY','ZAF','RUS']
lista_mediobajo=['CHN','THA','MYS','BOL','EGY','NGA','MAR','IND','IDN']


def ingreso_pais(row):
    if row['ID_PAIS'] in lista_alto:
        return 'H'
    if row['ID_PAIS'] in lista_medioalto:
        return 'M'
    if row['ID_PAIS'] in lista_mediobajo:
        return 'LM'
    
hechos['ID_INCOME'] = hechos.apply(lambda row: ingreso_pais(row), axis=1)

Codificamos la columna ID_INDICADOR

In [199]:
Indicador_code = ['AG.LND.PRCP.MM',
'EN.ATM.CO2E.KT',
'SP.POP.GROW',
'SE.PRM.CUAT.FE.ZS',
'SE.TER.ENRR',
'SE.ADT.LITR.ZS',
'CSV from WHO',
'SH.IMM.IDPT',
'SH.IMM.MEAS',
'SH.HIV.INCD.TL.P3',
'SH.DYN.MORT',
'SH.DTH.0509',
'SH.DTH.IMRT.IN',
'CSV from WHO',
'SH.PRV.SMOK.MA',
'SH.PRV.SMOK.FE',
'SH.STA.MMRT',
'SH.DYN.MORT',
'SP.DYN.AMRT.MA',
'SP.DYN.AMRT.FE',
'SH.ALC.PCAP.LI',
'EG.CFT.ACCS.RU.ZS',
'SE.XPD.CPRM.ZS',
'SH.XPD.CHEX.GD.ZS',
'SL.UEM.TOTL.NE.ZS',
'SP.DYN.LE00.MA.IN',
'SP.DYN.LE00.FE.IN',
'SP.DYN.LE00.IN',
'GC.XPN.TOTL.GD.ZS',
'SE.XPD.TOTL.GD.ZS',
'NY.GDP.PCAP.KD',
'EN.POP.SLUM.UR.ZS',
'SP.RUR.TOTL.ZS',
'SP.URB.TOTL.IN.ZS',
'GB.XPD.RSDV.GD.ZS',
'SP.POP.SCIE.RD.P6',
'SI.POV.MDIM',
'BG.GSR.NFSV.GD.ZS'
]
def ingreso_pais(row):
    for i in range(38):
        if row['ID_INDICADOR'] == Indicador_code[i]:
            return i+1
    
    
hechos['ID_INDICADOR'] = hechos.apply(lambda row: ingreso_pais(row), axis=1)

Cargamos lo indicadores "Hepatitis B", "Gasto en salud" y "Polio" desde un CSV descargado de la página de WHO

In [200]:
Hepa=pd.read_csv('HepatitisB.csv')

In [201]:
Countries = ['United States', 'Canada','Mexico','Costa Rica','Panama','Brazil','Argentina','Chile','Uruguay','Bolivia','Peru','Egypt, Arab Rep.','Libya','South Africa','Nigeria','Morocco','Australia','China','India','Thailand','Japan','Korea, Rep.','Israel','Saudi Arabia','Malaysia','Indonesia','Russian Federation','Turkiye','Spain','Bulgaria','France','Italy','Germany','United Kingdom','Norway','Sweden','Greece']
Nation_code= ['USA','CAN','MEX','CRI','PAN','BRA','ARG','CHL','URY','BOL','PER','EGY','LBY','ZAF','NGA','MAR','AUS','CHN','IND','THA','JPN','KOR','ISR','SAU','MYS','IDN','RUS','TUR','ESP','BGR','FRA','ITA','DEU','GBR','NOR','SWE','GRC']

Hepatitis=pd.DataFrame({2000:[],2001:[],2002:[],2003:[]})
for n in Nation_code:
    Hepa2=Hepa[['Location','Period', 'Value','SpatialDimValueCode']]
    Hepa2=Hepa2.loc[Hepa2['SpatialDimValueCode']==n]
    Hepa2=Hepa2.sort_values(by=['Period'])
    Hepa2=Hepa2.set_index('Period').T
    Hepa2=Hepa2.drop(['Location','SpatialDimValueCode'])
    Hepa2=Hepa2.rename(index={'Value':n})
    Hepatitis=pd.concat([Hepatitis,Hepa2])

Hepatitis=Hepatitis.reset_index()
Hepatitis=Hepatitis.melt(id_vars=['index'], var_name="ANIO", value_name="VALOR")
Hepatitis['ID_INDICADOR']=7
Hepatitis=Hepatitis.rename(columns={"index":"ID_PAIS"})

In [202]:
Polio=pd.read_csv('Polio.csv')

In [203]:
Poliodf=pd.DataFrame({2000:[],2001:[],2002:[],2003:[]})
for n in Nation_code:
    Polio2=Polio[['Location','Period', 'Value', 'SpatialDimValueCode']]
    Polio2=Polio2.loc[Polio2['SpatialDimValueCode']==n]
    Polio2=Polio2.sort_values(by=['Period'])
    Polio2=Polio2.set_index('Period').T
    Polio2=Polio2.drop(['Location', 'SpatialDimValueCode' ])
    Polio2=Polio2.rename(index={'Value':n})
    Poliodf=pd.concat([Poliodf,Polio2])
    
Poliodf=Poliodf.reset_index()
Poliodf=Poliodf.melt(id_vars=['index'], var_name="ANIO", value_name="VALOR")
Poliodf['ID_INDICADOR']=14
Poliodf=Poliodf.rename(columns={"index":"ID_PAIS"})

In [204]:
GastoSalud=pd.read_csv('Gastosalud.csv')

In [205]:
GastoSaluddf=pd.DataFrame({2000:[],2001:[],2002:[],2003:[]})
for n in Nation_code:
    GS=GastoSalud[['Location','Period', 'Value', 'SpatialDimValueCode']]
    GS=GS.loc[GS['SpatialDimValueCode']==n]
    GS=GS.sort_values(by=['Period'])
    GS=GS.set_index('Period').T
    GS=GS.drop(['Location', 'SpatialDimValueCode' ])
    GS=GS.rename(index={'Value':n})
    GastoSaluddf=pd.concat([GastoSaluddf,GS])
    
GastoSaluddf=GastoSaluddf.reset_index()
GastoSaluddf=GastoSaluddf.melt(id_vars=['index'], var_name="ANIO", value_name="VALOR")
GastoSaluddf['ID_INDICADOR']=24
GastoSaluddf=GastoSaluddf.rename(columns={"index":"ID_PAIS"})

Concatenamos las tablas del WHO

In [206]:
WHO=pd.concat([Hepatitis,Poliodf,GastoSaluddf])

Agregamos las columnas ID_CONTINENTE y ID_INCOME con el mismo criterio de la tabla Hechos

In [207]:
lista_america=['ARG','CAN','MEX','USA','PAN','BRA','ARG','CHL','URY','BOL','PER','CRI']
lista_africa=['EGY','LBY','ZAF','NGA','MAR']
lista_asia=['CHN','IND','THA','JPN','KOR','ISR','SAU','MYS','IDN','RUS','TUR']
lista_europa=['ESP','BGR','FRA','ITA','DEU','GBR','NOR','SWE','GRC']
lista_oceania=['AUS']

def categoria_pais(row):
    if row['ID_PAIS'] in lista_america:
        return 1
    if row['ID_PAIS'] in lista_europa:
        return 2
    if row['ID_PAIS'] in lista_asia:
        return 3
    if row['ID_PAIS'] in lista_africa:
        return 4
    if row['ID_PAIS'] in lista_oceania:
        return 5


WHO['ID_CONTINENTE'] = WHO.apply(lambda row: categoria_pais(row), axis=1)



lista_alto=['CAN','USA','PAN','CHL','URY','AUS','JPN','KOR','ISR','SAU','ESP','FRA','ITA','DEU','GBR','NOR','SWE','GRC']
lista_medioalto=['ARG','MEX','BRA','ARG','CRI','PER','BGR','TUR','LBY','ZAF','RUS']
lista_mediobajo=['CHN','THA','MYS','BOL','EGY','NGA','MAR','IND','IDN']


def ingreso_pais(row):
    if row['ID_PAIS'] in lista_alto:
        return 'H'
    if row['ID_PAIS'] in lista_medioalto:
        return 'M'
    if row['ID_PAIS'] in lista_mediobajo:
        return 'LM'
    
WHO['ID_INCOME'] = WHO.apply(lambda row: ingreso_pais(row), axis=1)

In [208]:
WHO.head()

  ID_PAIS  ANIO VALOR  ID_INDICADOR  ID_CONTINENTE ID_INCOME
0     USA  2000    90             7              1         H
1     CAN  2000   NaN             7              1         H
2     MEX  2000    97             7              1         M
3     CRI  2000    89             7              1         M
4     PAN  2000   NaN             7              1         H

Concatenamos las tabla WHO con la tabla de hechos

In [209]:
hechos=pd.concat([hechos,WHO])

Cargamos los datos de la tabla hechos a la tabla EV de snowflake

In [210]:
write_pandas(conn, hechos, 'EV') # se ingesta el dataframe pd a la tabla EV
# se cortan las conexiones
conn.close()

In [211]:
#hechos.to_csv('hechos_1.csv', index=False)

### Hacemos consultas

In [2]:
#se crea conexión
cnn = snowflake.connector.connect(
    user='grupods03',
    password='Henry2022#',
    account='nr28668.sa-east-1.aws',
    warehouse='DW_EV',
    database="LAKE")
    #role ='ACCOUNTADMIN',
    #schema ='PUBLIC')

In [5]:
sql="SELECT * FROM EV WHERE ANIO<=2015"
ALL1=pd.read_sql(sql,cnn)
ALL1.head()

   ID_PAIS  ANIO  ID_INDICADOR  VALOR  ID_CONTINENTE  ID_INCOME
0        0  1992            38   3.71              1          2
1        0  1993            38   3.96              1          2
2        0  1994            38   4.06              1          2
3        0  1995            38   4.28              1          2
4        0  1996            38   4.53              1          2

In [6]:
ALL1.to_csv('Incomplete.csv')

In [7]:
sql="SELECT * FROM EV"
ALL2=pd.read_sql(sql,cnn)
ALL2.head()

c:\Users\Jhovany Lara\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   ID_PAIS  ANIO  ID_INDICADOR  VALOR  ID_CONTINENTE  ID_INCOME
0        0  1992            38   3.71              1          2
1        0  1993            38   3.96              1          2
2        0  1994            38   4.06              1          2
3        0  1995            38   4.28              1          2
4        0  1996            38   4.53              1          2

In [8]:
ALL2.to_csv('Complete.csv')

In [17]:
sql ="""SELECT p.CODIGO_PAIS, e.ANIO, e.VALOR, i.DESCRIPCION as INDICADOR 
        FROM EV e 
        JOIN INDICADOR i 
        ON (e.ID_INDICADOR=i.ID_INDICADOR)
        JOIN PAIS p
        on (e.ID_PAIS=p.ID_PAIS)
        WHERE e.ID_INDICADOR=28 AND e.ANIO>1960 AND e.ANIO<=2020  """
probando=pd.read_sql(sql,cnn)
#AND e.ANIO>1960 AND e.ANIO<=2020

c:\Users\Jhovany Lara\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [18]:
probando

     CODIGO_PAIS  ANIO  VALOR                                 INDICADOR
0            ARG  1992  72.03  esperanza de vida al nacer, Total (años)
1            ARG  1993  72.25  esperanza de vida al nacer, Total (años)
2            ARG  1994  72.45  esperanza de vida al nacer, Total (años)
3            ARG  1995  72.65  esperanza de vida al nacer, Total (años)
4            ARG  1996  72.84  esperanza de vida al nacer, Total (años)
...          ...   ...    ...                                       ...
1068         ZAF  2016  63.15  esperanza de vida al nacer, Total (años)
1069         ZAF  2017  63.54  esperanza de vida al nacer, Total (años)
1070         ZAF  2018  63.86  esperanza de vida al nacer, Total (años)
1071         ZAF  2019  64.13  esperanza de vida al nacer, Total (años)
1072         ZAF  2020  64.38  esperanza de vida al nacer, Total (años)

[1073 rows x 4 columns]

In [11]:
#Consulta todos los países con indicador 2 --> Se hizo doble JOIN <--
sql ="""SELECT e.ID_PAIS, e.ANIO, e.VALOR, i.DESCRIPCION as INDICADOR 
    FROM EV e 
    JOIN INDICADOR i 
    ON (e.ID_INDICADOR=i.ID_INDICADOR) 
    WHERE e.ID_INDICADOR=28 AND e.ANIO>1960 AND e.ANIO<=2020 AND e.ID_PAIS=0""" 
arg=pd.read_sql(sql,cnn)

c:\Users\Jhovany Lara\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [12]:
arg

    ID_PAIS  ANIO  VALOR                                 INDICADOR
0         0  1992  72.03  esperanza de vida al nacer, Total (años)
1         0  1993  72.25  esperanza de vida al nacer, Total (años)
2         0  1994  72.45  esperanza de vida al nacer, Total (años)
3         0  1995  72.65  esperanza de vida al nacer, Total (años)
4         0  1996  72.84  esperanza de vida al nacer, Total (años)
5         0  1997  73.03  esperanza de vida al nacer, Total (años)
6         0  1998  73.21  esperanza de vida al nacer, Total (años)
7         0  1999  73.40  esperanza de vida al nacer, Total (años)
8         0  2000  73.58  esperanza de vida al nacer, Total (años)
9         0  2001  73.76  esperanza de vida al nacer, Total (años)
10        0  2002  73.93  esperanza de vida al nacer, Total (años)
11        0  2003  74.11  esperanza de vida al nacer, Total (años)
12        0  2004  74.28  esperanza de vida al nacer, Total (años)
13        0  2005  74.45  esperanza de vida al nacer, Total (años)
14        0  2006  74.62  esperanza de vida al nacer, Total (años)
15        0  2007  74.79  esperanza de vida al nacer, Total (años)
16        0  2008  74.95  esperanza de vida al nacer, Total (años)
17        0  2009  75.12  esperanza de vida al nacer, Total (años)
18        0  2010  75.28  esperanza de vida al nacer, Total (años)
19        0  2011  75.44  esperanza de vida al nacer, Total (años)
20        0  2012  75.60  esperanza de vida al nacer, Total (años)
21        0  2013  75.76  esperanza de vida al nacer, Total (años)
22        0  2014  75.91  esperanza de vida al nacer, Total (años)
23        0  2015  76.07  esperanza de vida al nacer, Total (años)
24        0  2016  76.22  esperanza de vida al nacer, Total (años)
25        0  2017  76.37  esperanza de vida al nacer, Total (años)
26        0  2018  76.52  esperanza de vida al nacer, Total (años)
27        0  2019  76.67  esperanza de vida al nacer, Total (años)
28        0  2020  76.81  esperanza de vida al nacer, Total (años)

In [62]:
w=arg['VALOR'].tolist()
w

[72.032,
 72.246,
 72.453,
 72.651,
 72.843,
 73.029,
 73.213,
 73.396,
 73.576,
 73.755,
 73.932,
 74.107,
 74.28,
 74.451,
 74.62,
 74.787,
 74.952,
 75.116,
 75.278,
 75.439,
 75.598,
 75.756,
 75.913,
 76.068,
 76.221,
 76.372,
 76.52,
 76.667,
 76.813]

In [53]:
df=df.pivot(index=['ID_PAIS', 'INDICADOR'], columns='ANIO')

In [54]:
arg2

                                                   VALOR                  \
ANIO                                                1992    1993    1994
ID_PAIS INDICADOR
ARG     esperanza de vida al nacer, Total (años)  72.032  72.246  72.453

                                                                          \
ANIO                                                1995    1996    1997
ID_PAIS INDICADOR
ARG     esperanza de vida al nacer, Total (años)  72.651  72.843  73.029

                                                                          \
ANIO                                                1998    1999    2000
ID_PAIS INDICADOR
ARG     esperanza de vida al nacer, Total (años)  73.213  73.396  73.576

                                                          ...                  \
ANIO                                                2001  ...    2011    2012
ID_PAIS INDICADOR                                         ...
ARG     esperanza de vida al nacer, Total (años)  73.755  ...  75.439  75.598

                                                                          \
ANIO                                                2013    2014    2015
ID_PAIS INDICADOR
ARG     esperanza de vida al nacer, Total (años)  75.756  75.913  76.068

                                                                         \
ANIO                                                2016    2017   2018
ID_PAIS INDICADOR
ARG     esperanza de vida al nacer, Total (años)  76.221  76.372  76.52


ANIO                                                2019    2020
ID_PAIS INDICADOR
ARG     esperanza de vida al nacer, Total (años)  76.667  76.813

[1 rows x 29 columns]

In [57]:
#Consulta todos los países con indicador 2 --> Se hizo doble JOIN <--
sql ="SELECT p.NOMBRE, e.ANIO, e.VALOR, i.CODIGO as INDICADOR FROM EV e JOIN PAIS p ON (e.ID_PAIS=p.ID_PAIS) JOIN INDICADOR i ON (e.ID_INDICADOR=i.ID_INDICADOR) WHERE e.ID_INDICADOR=2" 
Indicador2=pd.read_sql(sql,cnn)

c:\Users\Jhovany Lara\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [58]:
Indicador2

            NOMBRE  ANIO        VALOR       INDICADOR
0        Argentina  1992  107930.0000  EN.ATM.CO2E.KT
1        Argentina  1992  107930.0000  EN.ATM.CO2E.KT
2        Argentina  1993  110260.0000  EN.ATM.CO2E.KT
3        Argentina  1993  110260.0000  EN.ATM.CO2E.KT
4        Argentina  1994  111910.0000  EN.ATM.CO2E.KT
...            ...   ...          ...             ...
2215  South Africa  2019  439640.0146  EN.ATM.CO2E.KT
2216  South Africa  2020  219820.6440  EN.ATM.CO2E.KT
2217  South Africa  2020  219820.6440  EN.ATM.CO2E.KT
2218  South Africa  2021       1.2473  EN.ATM.CO2E.KT
2219  South Africa  2021       1.2473  EN.ATM.CO2E.KT

[2220 rows x 4 columns]

In [60]:
mun2=Indicador2.pivot(index=['NOMBRE', 'INDICADOR'], columns='ANIO')
mun2

ValueError: Index contains duplicate entries, cannot reshape

In [31]:
#Consulta un país (ARG) con indicador 2 en letra --> Se hizo doble JOIN <--
sql ="SELECT p.NOMBRE, e.ANIO, e.VALOR, i.DESCRIPCION FROM EV e JOIN PAIS p ON (e.ID_PAIS=p.ID_PAIS) JOIN INDICADOR i ON (e.ID_INDICADOR=i.ID_INDICADOR) WHERE e.ID_INDICADOR=2 AND e.ID_PAIS='ARG'" 
Indicador2ARG_LETRA=pd.read_sql(sql,cnn)

c:\Users\Jhovany Lara\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [33]:
Indicador2ARG_LETRA

       NOMBRE  ANIO          VALOR            DESCRIPCION
0   Argentina  1992  107930.000000  emisiones de CO2 (kt)
1   Argentina  1992  107930.000000  emisiones de CO2 (kt)
2   Argentina  1993  110260.000000  emisiones de CO2 (kt)
3   Argentina  1993  110260.000000  emisiones de CO2 (kt)
4   Argentina  1994  111910.000000  emisiones de CO2 (kt)
5   Argentina  1994  111910.000000  emisiones de CO2 (kt)
6   Argentina  1995  112890.000000  emisiones de CO2 (kt)
7   Argentina  1995  112890.000000  emisiones de CO2 (kt)
8   Argentina  1996  122550.000000  emisiones de CO2 (kt)
9   Argentina  1996  122550.000000  emisiones de CO2 (kt)
10  Argentina  1997  126120.000000  emisiones de CO2 (kt)
11  Argentina  1997  126120.000000  emisiones de CO2 (kt)
12  Argentina  1998  132670.000000  emisiones de CO2 (kt)
13  Argentina  1998  132670.000000  emisiones de CO2 (kt)
14  Argentina  1999  134510.000000  emisiones de CO2 (kt)
15  Argentina  1999  134510.000000  emisiones de CO2 (kt)
16  Argentina  2000  132270.000000  emisiones de CO2 (kt)
17  Argentina  2000  132270.000000  emisiones de CO2 (kt)
18  Argentina  2001  125260.000000  emisiones de CO2 (kt)
19  Argentina  2001  125260.000000  emisiones de CO2 (kt)
20  Argentina  2002  117470.001221  emisiones de CO2 (kt)
21  Argentina  2002  117470.001221  emisiones de CO2 (kt)
22  Argentina  2003  127660.003662  emisiones de CO2 (kt)
23  Argentina  2003  127660.003662  emisiones de CO2 (kt)
24  Argentina  2004  141380.004883  emisiones de CO2 (kt)
25  Argentina  2004  141380.004883  emisiones de CO2 (kt)
26  Argentina  2005  145990.005493  emisiones de CO2 (kt)
27  Argentina  2005  145990.005493  emisiones de CO2 (kt)
28  Argentina  2006  154899.993896  emisiones de CO2 (kt)
29  Argentina  2006  154899.993896  emisiones de CO2 (kt)
30  Argentina  2007  162809.997559  emisiones de CO2 (kt)
31  Argentina  2007  162809.997559  emisiones de CO2 (kt)
32  Argentina  2008  167229.995728  emisiones de CO2 (kt)
33  Argentina  2008  167229.995728  emisiones de CO2 (kt)
34  Argentina  2009  156570.007324  emisiones de CO2 (kt)
35  Argentina  2009  156570.007324  emisiones de CO2 (kt)
36  Argentina  2010  167220.001221  emisiones de CO2 (kt)
37  Argentina  2010  167220.001221  emisiones de CO2 (kt)
38  Argentina  2011  176639.999390  emisiones de CO2 (kt)
39  Argentina  2011  176639.999390  emisiones de CO2 (kt)
40  Argentina  2012  177960.006714  emisiones de CO2 (kt)
41  Argentina  2012  177960.006714  emisiones de CO2 (kt)
42  Argentina  2013  183250.000000  emisiones de CO2 (kt)
43  Argentina  2013  183250.000000  emisiones de CO2 (kt)
44  Argentina  2014  179600.006104  emisiones de CO2 (kt)
45  Argentina  2014  179600.006104  emisiones de CO2 (kt)
46  Argentina  2015  185550.003052  emisiones de CO2 (kt)
47  Argentina  2015  185550.003052  emisiones de CO2 (kt)
48  Argentina  2016  183160.003662  emisiones de CO2 (kt)
49  Argentina  2016  183160.003662  emisiones de CO2 (kt)
50  Argentina  2017  179320.007324  emisiones de CO2 (kt)
51  Argentina  2017  179320.007324  emisiones de CO2 (kt)
52  Argentina  2018  176899.993896  emisiones de CO2 (kt)
53  Argentina  2018  176899.993896  emisiones de CO2 (kt)
54  Argentina  2019  168100.006104  emisiones de CO2 (kt)
55  Argentina  2019  168100.006104  emisiones de CO2 (kt)
56  Argentina  2020            NaN  emisiones de CO2 (kt)
57  Argentina  2020            NaN  emisiones de CO2 (kt)
58  Argentina  2021            NaN  emisiones de CO2 (kt)
59  Argentina  2021            NaN  emisiones de CO2 (kt)

In [36]:
cnn.close