In [ ]:
# se importa el conector de snowflake
import snowflake.connector 
# se importa del modulo de swnoflake la herramienta de pandas para ingestar un dataframe a una tabla de snowflake
from snowflake.connector.pandas_tools import write_pandas 
import pandas as pd

In [ ]:
#se crea conexión
conn = snowflake.connector.connect(
    user='grupods03',
    password='Henry2022#',
    account='nr28668.sa-east-1.aws',
    warehouse='PRUEBA',
    role ='ACCOUNTADMIN',
    schema ='PUBLIC')

cur = conn.cursor() # se inicializa la conexión Creates a cursor object. Each statement will be executed in a new cursor object.

Data Definition Language (DDL) commands are used to create, manipulate, and modify objects in Snowflake, such as users, virtual warehouses, databases, schemas, tables, views, columns, functions, and stored procedures.
The following commands serve as the base for all DDL commands:
- ALTER
- COMMENT
- CREATE
- DESCRIBE
- DROP
- SHOW
- USE

In [ ]:
viewquery = """Use database PRUEBA""" # se inicializa en database prueba
cur.execute(viewquery)
cur.execute("""select * from PEPE""") # se listan totos los elementos de la tabla PEPE en el database prueba
cur.execute("""
    CREATE OR REPLACE TABLE costumers (
    name string,
    balance int
    );""") # se crea la tabla costumers con dos colunmas

In [ ]:
df = pd.DataFrame([('Mark', 10), ('Luke', 20)], columns=['NAME', 'BALANCE']) # se crea dataframe con pandas
write_pandas(conn, df, 'COSTUMERS') # se ingesta el dataframe pd a la tabla costumers
# se cortan las conexiones
cur.close()
conn.close()

data manipulation language (DML) commands, grouped by category.
Commands for inserting, deleting, updating, and merging data in Snowflake tables:

- INSERT
- INSERT (multi-table)
- MERGE
- UPDATE
- DELETE
- TRUNCATE TABLE

Data Loading / Unloading DML Commands for bulk copying data into and out of Snowflake tables:

- COPY INTO <table> (loading/importing data)
- COPY INTO <location> (unloading/exporting data)

File Staging Commands (for Data Loading / Unloading)
These commands do not perform any actual DML, but are used to stage and manage files stored in Snowflake locations (named internal stages (nube propia de snowflake), table stages(nube externa AWS (ej.:Buket S3), Azure, etc.., conectada con snowflake), and user stages, for the purpose of loading and unloading data:

PUT
GET
LIST (can also be used with named external stages)
REMOVE

In [3]:

Nation = ['United States', 'Canada','Mexico','Costa Rica','Panama','Brazil','Argentina','Chile','Uruguay','Bolivia','Peru','Egypt, Arab Rep.','Libya','South Africa','Nigeria','Morocco','Australia','China','India','Thailand','Japan','Korea, Rep.','Israel','Saudi Arabia','Malaysia','Indonesia','Russian Federation','Turkiye','Spain','Bulgaria','France','Italy','Germany','United Kingdom','Norway','Sweden','Greece']
Nation_code= ['USA','CAN','MEX','CRI','PAN','BRA','ARG','CHL','URY','BOL','PER','EGY','LBY','ZAF','NGA','MAR','AUS','CHN','IND','THA','JPN','KOR','ISR','SAU','MYS','IDN','RUS','TUR','ESP','BGR','FRA','ITA','DEU','GBR','NOR','SWE','GRC']
Indicador = ['Average precipitation in depth (mm per year)',
'emisiones de CO2 (kt)',
'crecimiento de la poblacion (% anual)',
'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)',
'School enrollment, tertiary (% gross)',
'Tasa de alfabetizacion, total adultos (% de personas)',
'Hepatitis B (HepB3) immunization coverage among 1-year-olds (%)',
'Immunization, DPT (% of children ages 12-23 months)',
'Immunization, measles (% of children ages 12-23 months)',
'Incidence of HIV, all (per 1,000 uninfected population)',
'Mortality rate, under-5 (per 1,000 live births)',
'Number of deaths ages 5-9 years',
'Number of infant deaths (per 1,000 live births)',
'Polio (Pol3) immunization covergae among 1-year-olds (%)',
'prevalencia del consumo de tabaco, hombres',
'prevalencia del consumo de tabaco, mujeres',
'tasa de mortalidad materna (cada 100.000 nacidos vivos)',
'tasa de mortalidad menores de 5 años (por 1000nacidos vivos)',
'tasa de mortalidad, adultos hombres (por cada 1000 adultos)',
'tasa de mortalidad, adultos mujeres (por cada 1000 adultos)',
'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)',
'Access to clean fuels and technologies for cooking, rural (% of rural population)',
'Current education expenditure, primary (% of total expenditure in primary public institutions)',
'Current health expenditure (% of GDP)',
'desempleo total (% de la poblacion laboral)',
'esperanza de vida al nacer, hombres (años)',
'esperanza de vida al nacer, muejres (años)',
'esperanza de vida al nacer, Total (años)',
'gasto publico (% del pib)',
'gasto publico en educación, total (% del pbi)',
'GDP per capita (constant 2015 US$)',
'poblacion que vive en barrios marginales (% de la poblacion urbana)',
'Población Rural (% de la poblacion total)',
'poblacion urbana (%poblacion total)',
'Research and development expenditure (% of GDP)',
'Researchers in R&D (per million people)',
'tasa de recuento de la pobreza, multidimensional (%de la poblacion total)',
'Trade in services (% of GDP)'
]
Indicador_code = ['AG.LND.PRCP.MM',
'EN.ATM.CO2E.KT',
'SP.POP.GROW',
'SE.PRM.CUAT.FE.ZS',
'SE.TER.ENRR',
'SE.ADT.LITR.ZS',
'CSV from WHO',
'SH.IMM.IDPT',
'SH.IMM.MEAS',
'SH.HIV.INCD.TL.P3',
'SH.DYN.MORT',
'SH.DTH.0509',
'SH.DTH.IMRT.IN',
'CSV from WHO',
'SH.PRV.SMOK.MA',
'SH.PRV.SMOK.FE',
'SH.STA.MMRT',
'SH.DYN.MORT',
'SP.DYN.AMRT.MA',
'SP.DYN.AMRT.FE',
'SH.ALC.PCAP.LI',
'EG.CFT.ACCS.RU.ZS',
'SE.XPD.CPRM.ZS',
'SH.XPD.CHEX.GD.ZS',
'SL.UEM.TOTL.NE.ZS',
'SP.DYN.LE00.MA.IN',
'SP.DYN.LE00.FE.IN',
'SP.DYN.LE00.IN',
'GC.XPN.TOTL.GD.ZS',
'SE.XPD.TOTL.GD.ZS',
'NY.GDP.PCAP.KD',
'EN.POP.SLUM.UR.ZS',
'SP.RUR.TOTL.ZS',
'SP.URB.TOTL.IN.ZS',
'GB.XPD.RSDV.GD.ZS',
'SP.POP.SCIE.RD.P6',
'SI.POV.MDIM',
'BG.GSR.NFSV.GD.ZS'
]

In [1]:
import pandas as pd
import wbgapi as wb

In [20]:
df=wb.data.DataFrame(Indicador_code, 
                  Nation_code, 
                  mrv= 30,
                  columns='series',
                  numericTimeKeys=True
                  )

In [22]:
df.to_csv('df_hecho.csv')

In [ ]:
conn = snowflake.connector.connect(
    user='grupods03',
    password='Henry2022#',
    account='nr28668.sa-east-1.aws',
    warehouse='PRUEBA',
    role ='ACCOUNTADMIN',
    schema ='PUBLIC')

In [35]:
import snowflake.connector as sf

conn=sf.connect(user='grupods03',password='Henry2022#',account='nr28668.sa-east-1.aws')

def execute_query(connection, query):
    cursor = connection.cursor()
    cursor.execute(query)
    cursor.close()

In [38]:

viewquery = """Use database PRUEBA""" # se inicializa en database prueba
execute_query(conn,viewquery)

In [ ]:
#  sql="create stage my_s3_stage storage_integration = s3_int url = 's3://' file_format = my_csv_format"

In [39]:

sql = 'drop stage if exists data_stage'
execute_query(conn, sql)

sql = 'create stage data_stage file_format = (type = "csv" field_delimiter = "," skip_header = 1)'
execute_query(conn, sql)

In [40]:
csv_file = '/Users/josetoledo/Desktop/prueba/df_hecho.csv'
sql = "PUT file://" + csv_file + " @DATA_STAGE auto_compress=true"
    
execute_query(conn, sql)

In [42]:
sql = 'list @data_stage'
cursor = conn.cursor()
cursor.execute(sql)
for c in cursor:
    print(c)

('data_stage/df_hecho.csv.gz', 127424, 'cd7e24237c3bd0a69976527fd4b7219c', 'Thu, 13 Oct 2022 18:20:38 GMT')

In [10]:
sql = 'copy into xxxxxxx from @DATA_STAGE/xxxxxxx.csv.gz file_format = (type = "csv" field_delimiter = "," skip_header = 1)' \
          'ON_ERROR = "ABORT_STATEMENT" '
execute_query(conn, sql)

In [1]:
sql = 'select * from "DEMO_DB"."PUBLIC"."STUDENT_MATH_MARK"'
cursor = conn.cursor()
cursor.execute(sql)
for c in cursor:
    print(c)

Prueba